*, :before, :after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

body{
    height: 100%;
    margin: 0;
    width: 100%;
    font-family: 'open_sans_condensedbold', sans-serif;
}

.wrapper {
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;


    background-image: url("https://sun9-41.userapi.com/J45tPJHECBHVJWYdUdsXz1tuxz3rrrpivVUkHg/RkvPt9I5Fgg.jpg?type=album");
    background-size: contain;
    background-repeat: repeat-y;

}

.logo{
    position: relative;
    align-items: center;
    color: #18cc9c;
    margin-left: 5%;
    flex-grow: 2;
    font-size: 1.3em;
    text-decoration: none;
}

.navbar{
    top: 0;
    position: fixed;
    z-index: 999;
    height: 65px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #414141;
    transition: top 0.3s;
}


.links{
    display: flex;
    justify-content: space-around;
    flex-grow: 1;    
}


li{
    list-style-type: none;
}



.nav,
[class*="nav-"] {
    overflow: hidden;
    font: 300 1em/3.5em 'open_sans_condensedbold', sans-serif;
    text-decoration: none;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
    letter-spacing: .08em;
    font-size: calc(0.8em );
    color: #a0a0a0;

    -moz-transition: ease 0.35s all;
    -o-transition: ease 0.35s all;
    -webkit-transition: ease 0.35s all;
    transition: ease 0.35s all;
}

.nav-link:hover {
    line-height: 5em;
    color: antiquewhite;
}

.container{
    z-index: 2;
    background-color: #f1e9e9;
    margin-top: 5%;
    width: 80%;
    margin-top: 10%;
}

h1{
    text-align: center;
    font-family: 'open_sans_condensedbold', sans-serif;
}

.img{
    display: block;
    margin: auto;

}

.text{
    margin-left: 5%;
    margin-right: 5%;
    list-style-type: circle;
    text-indent: 3em;
    text-align: justify;
    font-size: 1.3em;
}


.footer{
    z-index: 999;
    width: 100%;
    margin-top: 5%;
    height: 50px;
    background-color: #414141;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.reference-link{
    font: 300 1em/3.5em 'open_sans_condensedbold', sans-serif;
    text-decoration: none;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
    letter-spacing: .08em;
    font-size: calc(1.5em );
    color: #a0a0a0;
    width: auto;
}

.reference-link:hover{
    color: antiquewhite;
}

.gratitude{
    font: 300 1em/3.5em 'open_sans_condensedbold', sans-serif;
    text-decoration: none;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
    letter-spacing: .08em;
    font-size: calc(1.5em );
    color: #a0a0a0;
    width: auto;
}

.-bold{
    font-weight: bold;
}